<form>
    <div class="form-group">
        <label for="Customer Name">Customer Name</label>
        <input type="text" class="form-control" id="customerName">
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-secondary" id="startDate">Start Date</button>
        <button type="button" class="btn btn-secondary" id="endDate">End Date</button>
        <form class="form-inline">
            <label class="sr-only" for="startDateInput">Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="startDateInput" placeholder="Start Date">
            <label class="sr-only" for="endDateInput">Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="endDateInput" placeholder="End Date">
        </form>
    </div>
    <div class="form-group">
        <label for="roomId">Room ID</label>
        <input type="text" class="form-control" id="roomId">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>